# --- Specific to the 'web' directory ---

# Ignore Drupal Core
/core/

# Ignore configuration files
sites/*/settings.php
sites/*/settings.local.php
sites/*/services.yml

# Ignore user-uploaded assets but keep the folder structure
sites/*/files/*
!sites/*/files/.gitkeep

# Ignore private files
sites/*/private/

# Ignore development/test folders
sites/simpletest
/example.gitignore